@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@0;1&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e2e2e2;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'IBM Plex Serif', serif;
}

header {
  background-color: #333333;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 0.8rem 10%;
  top: 0;
  z-index: 3;
  overflow: hidden;
  position: sticky;
}

header h1 {
  font-size: 24px;
  z-index: 5;
}

header nav {
  width: 30%;
  z-index: 5;
}

header nav ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

header nav ul li {
  font-size: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
  transition: background-color 0.5s ease-in;
  position: relative;
}

.carrito {
  color: #ff4ea7;
  transition: color 1s ease;
}

nav ul li a span {
  background: #f7a6cf;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 15px;
  border-radius: 100%;
  font-size: 15px;
  text-align: center;
  color: black;
  font-weight: bold;
}

nav ul li a .disabled {
  display: none;
}

header nav ul li a i {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
  transition: background-color 0.5s ease-in;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 9; /*Para que quede por encima del resto de las cosas*/

  /*Efecto de Glassmorphismo*/
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
}

.alertas {
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  z-index: 10;
  top: calc(50% - 198px);
  position: fixed;
  display: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.3);
  text-align: center;
  color: #333333;
}

.alertas h2 {
  padding: 0 15px;
}

.alertas h3 {
  margin: 20px 0;
}

.alertas .botonCorrecto {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  background-color: #36C233;
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 24px;
  display: block;
  margin: auto;
  width: auto;
  margin-bottom: 20px;
  transition: background-color 0.2s ease-in;
}

.alertas button {
  background-color: #CB0000;
  width: auto;
  color: white;
  border: none;
  border-radius: 100px;
  padding: 8px 16px;
  font-size: 20px;
  margin: auto;
  margin-bottom: 20px;
  transition: background-color 0.2s ease-in;
}

.alertas button:hover {
  background-color: #eb1717;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.alertas .botonCorrecto:hover {
  background-color: #47f144;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.alertas .incorrecto {
  width: 100%;
  text-align: center;
  font-size: 60px;
  color: #CB0000;
  margin: 20px 0;
}

.alertas .correcto {
  width: 100%;
  text-align: center;
  font-size: 80px;
  color: #36C233;
  margin: 20px 0;
}

.mostrarAlerta {
  display: flex;
}

header nav ul li a:hover {
  background-color: #ff4ea7;
  padding: 5px 10px;
  border-radius: 50px;
  transition: background-color 0.5s ease-in;
}

header nav ul li a:hover i {
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
  transition: color 0.5s ease-in;
}

.cerrarSesion {
  background: transparent;
  border: none;
  color: white;
  font-size: 19px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50px;
  transition: background-color 0.5s ease-in;
}

.cerrarSesion:hover {
  background-color: #ff4ea7;
  padding: 5px 10px;
  border-radius: 50px;
  transition: background-color 0.5s ease-in;
}

.hamburguesa {
  display: none;
}

main {
  margin: 50px 0;
  min-height: calc(100vh - 56px - 85px - 100px);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
}

main h2 {
  font-size: 36px;
  font-weight: bold;
}

main .carritoCompra {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin-top: 25px;
}

main .carritoCompra .producto {
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 175px;
  width: 100%;
  border-radius: 10px;
  position: relative;
  margin: 12.5px 0;
}

main .carritoCompra .producto span {
  content: "";
  height: 100%;
  width: 10px;
  display: block;
  border-radius: 10px 0 0 10px;
  position: absolute;
  left: 0;
}

main .carritoCompra .producto .imagen-caracteristicas {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  height: 100%;
}

main .carritoCompra .producto .imagen-caracteristicas .imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  max-width: 20%;
}

main .carritoCompra .producto .imagen-caracteristicas img {
  height: 100%;
  width: auto;
}

main .carritoCompra .producto .imagen-caracteristicas .nombre-precio {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  width: 50%;
}

.verde {
  background-color: #68b900;
}

.naranja {
  background-color: #ff7a00;
}

.morado {
  background-color: #b01e68;
}

.celeste {
  background-color: #00cad7;
}

main .carritoCompra .producto .cantidad {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 30%;
}

main .carritoCompra .producto .cantidad .botonMenos,
main .carritoCompra .producto .cantidad .botonMas {
  background-color: transparent;
  border: none;
  font-size: 20px;
}

main .carritoCompra .producto .cantidad .botonMenos:hover,
main .carritoCompra .producto .cantidad .botonMas:hover {
  cursor: pointer;
}

main .carritoCompra .producto .cantidad h3 {
  font-size: 24px;
  font-weight: bold;
  background-color: #f6f6f6;
  border-radius: 150px;
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

main .carritoCompra .producto .botonBorrar {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
}

main .carritoCompra .producto .botonBorrar i {
  font-size: 15px;
  color: #ff7a00;
}

main .carritoCompra .producto .botonBorrar:hover i {
  cursor: pointer;
}

main .carritoCompra .carroVacio {
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

main .carritoCompra .carroVacio i {
  font-size: 50px;
  margin-right: 15px;
}

main .carritoCompra .carroVacio h3,
main .precioTotal h3 {
  font-size: 24px;
  font-weight: bold;
}

main .precioTotal {
  margin-top: 25px;
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  position: relative;
  height: 150px;
}

main .precioTotal span {
  content: "";
  height: 100%;
  width: 10px;
  display: block;
  background-color: #ff4ea7;
  border-radius: 10px 0 0 10px;
  position: absolute;
  left: 0;
}

.valorPrecioTotal {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.valorPrecioTotal .precio {
  margin: 0 10px;
}

main .precioTotal .disabled {
  cursor: auto;
  background-color: grey;
}

main .precioTotal .disabled:hover {
  cursor: auto;
  background-color: grey;
}

main .precioTotal button {
  background-color: #fa57a9;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 15px 45px;
  font-size: 24px;
  font-weight: bold;
}

main .precioTotal button:hover {
  cursor: pointer;
  background-color: #fc80be;
}

main .carritoCompra .producto .imagen-caracteristicas .nombre-precio .nombre {
  text-align: center;
}

footer {
  background-color: #333333;
  width: 100%;
  display: flex;
  padding: 20px 0;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: #e2e2e2;
}

.cantidadProductosDisabled {
  display: none;
}

footer p {
  font-size: 10px;
}

@media (max-width: 1024px) {
  header nav {
    width: 60%;
  }

  main .carritoCompra {
    width: 90%;
  }

  main .precioTotal {
    width: 90%;
  }
}

@media (max-width: 768px) {
  header {
    padding: 15px 30px;
    width: calc(100% - 60px);
  }

  header nav {
    background-color: #333333;
    height: calc(100vh - 57px);
    width: 40%;
    right: -40%;
    top: 57px;
    position: fixed;
    transition: all 0.5s ease-in;
  }

  header nav ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    height: auto;
  }

  .navbarMostrado {
    right: 0;
    width: 40%;
    position: fixed;
    transition: all 0.5s ease-out;
  }

  .hamburguesa {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
  }

  .cerrarSesion {
    border-radius: 0;
    display: block;
    width: 100%;
    text-align: start;
  }

  .cerrarSesion:hover {
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 0;
    transition: background-color 0.5s ease-in;
  }

  .hamburguesa:hover {
    cursor: pointer;
  }

  header nav ul li {
    width: 100%;
    border-radius: 0;
    margin: 15px 0;
  }

  header nav ul li a:hover {
    border-radius: 0;
    width: 100%;
    /* background-color: rgba(255, 78, 167, 0.70); */
    background-color: transparent;
  }

  main .carritoCompra .producto .imagen-caracteristicas .imagen {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  main .carritoCompra .producto .imagen-caracteristicas img {
    height: auto;
    width: auto;
    min-width: 100px;
  }

  .cantidadProductosDisabled {
    display: none;
  }

  main .carritoCompra {
    width: 90%;
  }

  main .carritoCompra .producto {
    padding: 10px;
  }

  main .carritoCompra .carroVacio {
    padding: 0 15px;
    width: calc(100% - 30px);
  }

  main .carritoCompra .carroVacio h3,
  main .precioTotal h3 {
    text-align: center;
  }

  main .precioTotal {
    width: 90%;
  }

  header nav ul li a:hover i {
    padding: 0;
  }

  header nav ul li:hover {
    background-color: rgba(255, 78, 167, 0.7);
  }

  header nav ul li a {
    width: 100%;
    display: block;
  }

  header nav ul li a i {
    padding: 0;
  }

  nav ul li a span {
    left: 24px;
    top: 0;
  }
}

@media (max-width: 425px) {
  header {
    padding: 15px 25px;
    width: calc(100% - 50px);
  }

  header nav {
    background-color: #333333;
    height: calc(100vh - 57px);
    width: 50%;
    right: -50%;
    top: 57px;
    position: fixed;
    transition: right 0.5s ease-in;
  }

  header nav ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    height: auto;
  }

  .alertas {
    width: 70%;
  }

  .navbarMostrado {
    right: 0;
    width: 50%;
    position: fixed;
    transition: all 0.5s ease-out;
  }

  .hamburguesa {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
  }

  .cerrarSesion {
    border-radius: 0;
  }

  .cerrarSesion:hover {
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 0;
    transition: background-color 0.5s ease-in;
  }

  .hamburguesa:hover {
    cursor: pointer;
  }

  header nav ul li {
    width: 100%;
    border-radius: 0;
    margin: 15px 0;
  }

  header nav ul li a:hover {
    border-radius: 0;
    width: 100%;
    /* background-color: rgba(255, 78, 167, 0.70); */
    background-color: transparent;
  }

  main .carritoCompra {
    width: 90%;
  }

  main .carritoCompra .carroVacio {
    padding: 0 15px;
    width: calc(100% - 30px);
  }

  main .carritoCompra .producto span {
    height: 10px;
    width: 100%;
    top: 0;
    border-radius: 10px 10px 0 0;
  }

  main .carritoCompra .carroVacio h3,
  main .precioTotal h3 {
    text-align: center;
  }

  main .precioTotal {
    width: 90%;
  }

  .valorPrecioTotal {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
  }

  main .precioTotal button {
    padding: 15px 25px;
  }

  main .carritoCompra .producto {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
  }

  main .carritoCompra .producto .imagen-caracteristicas {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
  }

  main .carritoCompra .producto .imagen-caracteristicas .imagen {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main .carritoCompra .producto .botonBorrar {
    top: 25px;
    right: 30px;
  }

  main .carritoCompra .producto .imagen-caracteristicas img {
    height: auto;
    width: auto;
  }

  main .carritoCompra .producto .imagen-caracteristicas .nombre-precio {
    width: 80%;
    margin: 20px 0;
  }

  main .carritoCompra .producto .imagen-caracteristicas .nombre-precio .nombre {
    font-size: 24px;
    text-align: center;
  }

  main .carritoCompra .producto .imagen-caracteristicas .nombre-precio .precio {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }
}
